{% extends 'base.html.twig' %}

{% set user = usertoview %}

{% block title %}
  Profile details for {{ user.username }}
{% endblock title %}

{% if globals.user is defined and globals.user is not null %}
{% endif %}

{% block content %}
  <div class="container form">
    <h1>{{ user.userName }}</h1>
    {#<div><img src="../img/nophoto.jpg"></div>#}
    <div><img src="http://static.comicvine.com/uploads/original/11114/111143722/3697177-kufu.jpg"></div>

    {% if globals.user is defined and globals.user is not null %}
    <dl>
      <dt>Name:</dt>
      <dd>{{ user.firstName }} {{ user.surname }}</dd>
      <dt>Mail</dt>
      <dd>{{ user.email }}</dd>
      <dt>Adres</dt>
      <dd>{{ user.address }}</dd>
      <dt>Postcode</dt>
      <dd>{{ user.postcode.postcode }}</dd>
    </dl>
    {% endif %}


    <div class="clearboth topline">{# include expects 'reviews' objects #}
      {% set reviews = user.whiskys_created %}
      {% include 'Profile/user_whiskies.html.twig' %}

      {# include expects 'comments' objects #}
      {% set comments = user.comments %}
      {% include 'Profile/user_comments.html.twig' %}

      {# include expects 'events' objects #}
      {% set events = user.events_created %}
      {% include 'Profile/user_events.html.twig' %}
    </div>

    <div class="topline">
      <a href="/members" id="return_to_main" class="btn submit btn-default">
        Return to members menu
      </a>  
      <a href="/" id="return_to_main" class="btn submit btn-default">
        Return to main menu
      </a>
    </div>
  </div>
{% endblock content %}