{% extends 'base.html.twig' %}

{% block title %}
  {{ event.getTitle }}
{% endblock title %}

{% block content %}
  <div id="event_id" class="container form">
    <h1>{{ event.getTitle }}</h1>
    <dl>
      <dd><iframe width="300" height="180" frameborder="1" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{ event.address }}{{ event.postcode.town ~', BELGIE' }} &key=AIzaSyB_sBxeACYNeQcH7_Oui_lYihEd3hdckg4"></iframe></dd>
    </dl>
    <dl>
      <dt>Event date:</dt>
      <dd class="event">{{ event.event_date | date('Y-m-d')  }}</dd>
      <dt>Location:</dt>
      <dd class="event">{{ event.getAddress }}<br>
      {{event.postcode.postcode}} {{ event.postcode.town }}</dd>
    </dl>
    <dl class="clearboth">
      <dt>Description:</dt>
      <dd>"{{ event.description }}"</dd>
    </dl>

    {% set comments = event.comments %}    
    {% include 'Comments/_include_comments.html.twig' %}

    {% if globals.user.isAdmin() or globals.user.canCreateEvent()  %}
    <a href="{{ globals.app.urlFor('edit_event', { 'id' : event.getId()} ) }}" class="btn submit btn-default">Edit event</a>
    {% endif %}

    <a href="/" id="return_to_main" class="btn submit btn-default">Return to main menu</a>
    
  </div>
{% endblock content %}