{% extends 'base.html.twig' %}

{% block title %}
    Edit whisky
{% endblock title %}

{% block content %}
  
    {% set app = globals.app %}
    
    <div class="container form">
      <h1>Edit Whisky</h1>
      <form action="{{ app.urlFor('edit_whisky_process',{'id':whisky.id}) }}{#/{{whisky.id}}#}" method="POST" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name" name="name" value="{{ whisky.name }}" />
          {#<label for="image">Image</label>
          <input class="form-control" type="file" id="image" name="image" value="{% if app.request.isPost() %}{{app.request.post('image')}}{% endif %}" />#}
          <label for="region">Region</label>
          <select class="form-control" id="region" name="region">
            {% for reg in regions %}
                <option value="{{ reg.id }}" {% if reg.id == whisky.region.id %} selected="selected" {% endif %}>{{ reg.name }}</option>
            {% endfor %}
          </select>
          <label for="distillery">Distillery</label>
          <select class="form-control" id="distillery" name="distillery">
            {% for dist in distillerys %}
                <option value="{{ dist.id }}" {% if dist.id == whisky.distillery.id %} selected="selected" {% endif %}>{{ dist.name }}</option>
            {% endfor %}
          </select>
          <label for="bottlery">Bottlery</label>
          <select class="form-control" id="bottlery" name="bottlery">
            {% for dist in distillerys %}
                <option value="{{ dist.id }}" {% if dist.id == whisky.bottlery.id %} selected="selected" {% endif %}>{{ dist.name }}</option>
            {% endfor %}
          </select>
          <label for="price">Price</label>
          <input class="form-control" type="number" id="price" name="price" value="{{ (whisky.price/100)|number_format(2) }}" />
          <label for="age">Age</label>
          <input class="form-control" type="number" id="age" name="age" value="{{ whisky.age }}" />
          <label for="alcohol">Alcohol</label>
          <input class="form-control" type="number" id="alcohol" name="alcohol" value="{{ (whisky.alcohol/100)|number_format(2) }}" />
          <label for="barrel">Barrel</label>
          <select class="form-control" id="barrel" name="barrel">
            {% for bar in barrels %}
                <option value="{{ bar.id }}" {% if bar.id == whisky.barrel.id %} selected="selected" {% endif %}>{{ bar.casktype }}</option>
            {% endfor %}
          </select>          
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description">{{ whisky.short_description }}</textarea>          
          <label for="blend">Blend</label>
          <select class="form-control" id="blend" name="blend">
            {% for blend in blends %}
                <option value="{{ blend.id }}" {% if blend.id == whisky.blend.id %} selected="selected" {% endif %}>{{ blend.blend }}</option>
            {% endfor %}
          </select>   
          <label for="distilled">Date distilled</label>
          <input class="form-control" type="date" min="{{"now"|date('d/m/Y')}}" id="distilled" name="distilled" value="{%if whisky.date_distilled != '' %}{{ whisky.date_distilled|date('d-m-Y') }}{% endif %}" />
          <label for="bottled">Date bottled</label>
          <input class="form-control" type="date" min="{{"now"|date('d/m/Y')}}" id="bottled" name="bottled" value="{%if whisky.date_bottled != '' %}{{ whisky.date_bottled|date('d-m-Y') }}{% endif %}" />
          <label for="country">Country</label>
          <select class="form-control" id="country" name="country">
            {% for country in countries %}
                <option value="{{ country.id }}" {% if country.id == whisky.country.id %} selected="selected" {% endif %}>{{ country.country_name }}</option>
            {% endfor %}
          </select>   
          <label for="capacity">Capacity</label>
          <input class="form-control" type="number" id="capacity" name="capacity" value="{{ (whisky.capacity/100)|number_format(2) }}" />
        
        
        
        <div id="score">
        <p><strong>SCORES</strong></p>
        <p>&nbsp;</p>
        {% set scores =  whisky.getScores  %}
        {% for score in scores %}         
          {% set catid =  score.getCategory.getId  %}
          <label for="cat{{ catid }}">{{ score.getCategory.getCategory }}</label>  
          <input id="cat{{ catid }}" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.5" data-slider-value="{{ (score.getScore/100)|number_format(1) }}" />
          <input id="catparam{{ catid }}" name="catparam[]" type="hidden" value="{{ catid }}|{{ (score.getScore/100)|number_format(1) }}|{{ score.getId }}" />
          <span id="cat{{ catid }}CurrentSliderValLabel">Current value selected: <span id="cat{{ catid }}SliderVal">{{ (score.getScore/100)|number_format(1) }}</span> / 10</span>                
         <p>&nbsp;</p>
            {% endfor %}
          </div>
        </div>
        
        
        
        </div> 
        <input class="form-control btn btn-default" type="submit" id="verzend" name="whisky" value="Update whisky" />

      </form>
    </div>
{% endblock content %}



{% block extrajs %}   
    {# Slider for bootstrap http://seiyria.github.io/bootstrap-slider/ #}
   <script type="text/javascript" src="/js/bootstrap/js/bootstrap-slider.js"></script>     
   <script> 
   {% set scores =  whisky.getScores  %}    
   {% for score in scores %}    
    {% set catid =  score.getCategory.getId  %}
   $("#cat{{ catid }}").slider();
   $("#cat{{ catid }}").on("slide", function(slideEvt) {
   $("#cat{{ catid }}SliderVal").text(slideEvt.value);
   $("#catparam{{ catid }}").val("{{ catid }}|"+slideEvt.value+"|"+{{ score.getId }});
   })
   {% endfor %}
   
   </script>
{% endblock extrajs %}
