<div id="pop_reviews" class="sidebar_list">
  <h3>Popular Reviews</h3>
  {% set popular = reviews.popular %}
  <dl>
    {% for rev in popular %}
      {% set whisky = rev.whisky.whisky %}
      <dt>{{ whisky.review_date|date('Y-m-d') }} - 
        <a href="{{ globals.app.urlFor('show_whisky_by_id', {'id': whisky.id}) }}">{{ whisky.name }}</a>
      </dt>    
      <dd>"{{ whisky.short_description|length > 50 ? whisky.short_description|slice(0, 50) ~ '...' : whisky.short_description }}"</dd>
      <dt class="comment review_likes">Likes: {{ rev.likes }}</dt>  
      {% endfor %}
  </dl>
</div>