

  {% set app = globals.app %}

  {% if globals.user is not defined or globals.user is null %}
    <nav id="reg-menu">
      <ul class="nav nav-pills">
        <li>
          {% block login %}
            {% include 'Profile/logon.html.twig' %}
          {% endblock login %}
        </li>
        <li><a href="{{ app.urlFor('user_register') }}">Register</a></li>
        <li><a href="{{ app.urlFor('password_reset_request') }}">Forgot password</a></li>
      </ul>
    </nav>
  {% else %}
    <nav id="reg-menu">
      <ul class="nav nav-pills">
        <li><a href="{{ app.urlFor('profile_show') }}">Profile</a></li>
        <li><a href="{{ app.urlFor('user_logoff') }}">Logoff</a></li>
        {% if globals.user.isAdmin() or globals.user.canAddWhisky()  %}
        <li><a href="{{ app.urlFor('new_whisky') }}">Add whisky</a></li>
        {% endif %}
        {% if globals.user.isAdmin() or globals.user.canCreateEvent()  %}
        <li><a href="{{ app.urlFor('new_event') }}">New event</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
