<h1 class="topline clearboth">Comments</h1>
<div id="comments">

  {% for comment in comments %}

    {% set c = comment.comment %}

    {% if c.parent_comment is not null %}
      {% set parent = c.parent_comment %}

      <div class="comment">
        <div class="comment-head">
          <span class="reply-info margin-right-12">( Re: {{ parent.comment_date|date('Y-m-d H:i') }} </span>
          <span> {{ parent.user.username }}s&apos; post )</span>
          <span class="comment-date">{{ c.comment_date|date('Y-m-d H:i') }}</span>
          <span class="comment-user">
            <a class="glyphicon glyphicon-user" href="{{ globals.app.urlFor('profile_show_by_id', {'id': c.user.id }) }}"> {{ c.user.username }}</a>
          </span>
        </div>
        <div class="comment-body">{{ c.comment }}</div>
      </div>
      
      <div id="item{{ c.getId }}" class="like-selector">
                <a href="#" class="like-btn single-like {% if status == 1 %}active_pos{% endif %}" data-commentid="{{ c.getId }}" data-userid="{{ globals.user.getId }}" data-pos="{% if status == 1 %}1{% endif %}" data-id="{{ c.likes.getId }}" data-name="Like" onclick="likecomment(this)">
                {% if status == 1 %}
                   <img src="../img/like_icon_active.png" >{% else %}<img src="../img/like_icon.png" >{% endif %}
                </a>
                <a href="#" class="like-btn single-like {% if status == -1 %}active_neg{% endif %}" data-commentid="{{ c.getId }}" data-userid="{{ globals.user.getId }}" data-pos="{% if status == -1 %}-1{% endif %}"  data-id="{{ c.likes.getId }}"  data-name="Not Like" onclick="likecomment(this)">
                  {% if status == -1 %}<img src="../img/dislike_icon_active.png" >{% else %}<img src="../img/dislike_icon.png" >{% endif %}
    </div>

    {% else %}

      <div class="comment">
        <div class="comment-head">
          <span class="comment-date">{{ c.comment_date|date('Y-m-d H:i') }}</span>      
          <span class="comment-user">
            <a class="glyphicon glyphicon-user" href="{{ globals.app.urlFor('profile_show_by_id', {'id': c.user.id }) }}"> {{ c.user.username }}</a>
          </span>
        </div>
        <div class="comment-body">{{ c.comment }}</div>
      </div>

    {% endif %}


  {% endfor %}


</div>